{% extends 'users/base.html' %}
{% block title %} About Us {% endblock %}

{% block body %}
<div class="container">
    <p>
        Money Scammer combines geography and software development domain to offer state of the art Spatial IT solutions to solve real world problems. We offer complete geo spatial solutions starting from geo-data development and smart data capturing, to spatial data processing and analysis, to finally visualizing the data using map enabled dashboards. 
    </p>
</div>
{% endblock %}